body {
    font-family: "Arial", sans-serif;
    background-color: #FFFDE7;
}

h1 {
    font-family: "Brush Script MT", "Z003", cursive;
}

.page-title {
    font-family: "Brush Script MT", "Z003", cursive;
    text-align: center;
    font-size: 40px;
}